@page
@model PrototypeDatabase.Pages.ChangePassword.ChangePasswordModel
@{
}

<h1>:: Change Password::</h1>
 <!-- Form that asks for current password -->
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Please Confirm Your Current Password</label>
                <input type="password" asp-for="NewUser.UserPass" class="form-control" required />
            </div>
            <div>
                <p style="color: red">@Model.Message</p>
            </div>
            <input type="hidden" asp-for="NewUser.Username" class="form-control" value="@Model.UserName" />
            <br />
            <br />
            <div>
                <input type="submit" value="Confirm" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
