@page
@model PrototypeDatabase.Pages.NewPassword.NewPasswordModel
@{
}

<h1>:: Change Password::</h1>
<!-- form that asks for 2 password entrys and forces them to be matching before it can be submitted -->
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input type="hidden" asp-for="NewUser.Username" class="form-control" value="@Model.UserName" />
            </div>
            <br />
            <div>
                <label class="control-label">New Password</label>
                <input name="NewUser.UserPass" required="required" type="password" id="password" class="form-control" />
            </div>
            <br />
            <div>
                <label class="control-label">Confirm New Password</label>
                <input name="password_confirm" required="required" type="password" id="password_confirm" oninput="check(this)" class="form-control" />
                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('password').value) {
                            input.setCustomValidity('Password Must be Matching.');
                        } else {
                            // input is valid -- reset the error message
                            input.setCustomValidity('');
                        }
                    }
                </script>
            </div>
            <br />
            <br />
            <div>
                <input type="submit" value="Change Password" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
