@page
@model PrototypeDatabase.Pages.UpdatedDetails.UpdatedDetailsModel
@{ }
<!-- Page shown on any succesful information update; forgot password, changed password or changed details -->
<h3>You have successfully updated your information. Please log in again to continue.</h3>