@page
@model PrototypeDatabase.Pages.ForgotPassword.IncorrectAnswersModel
@{ }
<!-- Clears session and informs user of incorrect information entered, forces them to restart process -->
<h3>1 or more of your Answers were incorrect, Please try again or contact the Sites Admins for further help.</h3>