@page
@model PrototypeDatabase.Pages.ForgotPassword.ResetPasswordModel
@{
}

<h1>:: Reset Password::</h1>
<!-- Identical to NewPassword in AccountDetails but with less variables needed in the C# code to avoid giving away Username or account -->
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input type="hidden" asp-for="NewUser.Email" class="form-control" value="@Model.Email" />
            </div>
            <br />
            <div>
                <label class="control-label">New Password</label>
                <input name="NewUser.UserPass" required="required" type="password" id="password" class="form-control" />
            </div>
            <br />
            <div>
                <label class="control-label">Confirm New Password</label>
                <input name="password_confirm" required="required" type="password" id="password_confirm" oninput="check(this)" class="form-control" />
                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('password').value) {
                            input.setCustomValidity('Password Must be Matching.');
                        } else {
                            // input is valid -- reset the error message
                            input.setCustomValidity('');
                        }
                    }
                </script>
            </div>
            <br />
            <br />
            <div>
                <input type="submit" value="Change Password" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
