@page
@model PrototypeDatabase.Pages.ForgotPassword.SecurityQuestionsModel

@{
}

<h1>:: Please Confirm your Security Question Answers ::</h1>
<!-- Form that asks questions based on created from signup and expects the matching answers -->
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Security Question #1:   @Model.FirstQuestion</label>
                <input type="text" asp-for="NewUser.FirstAnswer" class="form-control" required />
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Security Question #2:   @Model.SecondQuestion</label>
                <input type="text" asp-for="NewUser.SecondAnswer" class="form-control" required />
            </div>
            <div>
                <p style="color: red">@Model.Message</p>
            </div>
            <input type="hidden" asp-for="NewUser.Email" class="form-control" value="@Model.Email" />
            <br />
            <br />
            <div>
                <input type="submit" value="Confirm Answers" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

