@page
@model PrototypeDatabase.Pages.UserPages.UserIndexModel
@{ }
<!-- Default User Page -->

<h1>:: User Main Page ::</h1>
<br />
<h2> Welcome @Model.FirstName</h2>

<br />
<div class="row">

    <div class="col-sm-2">
        <p><a asp-page="/AccountDetails/ViewAccount">User Profile Page</a></p>
    </div>

    <div class="col-sm-2">
        <p><a asp-page="/LogoutPage/Logout">Logout</a></p>
    </div>

</div>


