@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}<!-- Barebones homepage, not yet done -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the default homepage</a></p>
</div>
